<%= render 'layouts/admin_header' %>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header bg-dark text-white">
          <h4 class="mb-0">掲示板一覧</h4>
        </div>
        <div class="card-body">
          <% @posts.each do |post| %>
            <div class="card mb-3">
              <div class="card-body">
                <%= link_to admin_post_path(post) do %>
                  <h5 class="card-title">【<%= post.id %>】 <%= post.title %></h5>
                <% end %>
                <p class="card-text">投稿者: <%= post.user.handle %></p>
                <p class="card-text">コメント数: <%= post.comments.count %></p>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>