<%= render 'layouts/admin_header' %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h3><%= @user.handle %></h3>
          <% if @user.image.attached? %>
            <%= image_tag @user.image, size: "125x125", class: "profile-image img-fluid rounded-circle mb-3" %>
          <% else %>
            <%= image_tag 'sennin', size: "125x125", class: "profile-image img-fluid rounded-circle mb-3" %>
          <% end %>
          <%#= link_to "プロフィールを強制変更する", edit_admin_user_path, class: "btn btn-outline-dark" %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light p-3">
        <div class="card-body">
          <h4 class="card-title">コメント一覧</h4>
          <% @user.comments.each do |comment| %>
            <div class="media mb-3 bg-light p-3">
              <div class="media-body">
                <h5 class="mt-0">スレッド名: <%= link_to comment.post.title, admin_post_comment_path(comment.post) %></h5>
                <p>コメント内容: <%= comment.content %></p>
                <small><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>