<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">プロフィール編集</h2>
          <%= form_with model: @user do |f| %>
            <div class="mb-3">
              <%= f.label :handle, "ハンドルネーム" %>
              <%= f.text_field :handle, class: "form-control", autofocus: true, autocomplete: "handle" %>
            </div>
            <div class="mb-3">
              <h4>画像</h4>
              <%= f.file_field :image, accept: "image/*", class: "form-control" %>
            </div>
            <%= f.submit "編集内容を保存", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>