<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h3 class="text-dark"><%= @user.handle %></h3>
          <% if @user.image.attached? %>
            <%= image_tag @user.image, size: "125x125", class: "profile-image img-fluid rounded-circle mb-3" %>
          <% else %>
            <%= image_tag 'sennin', size: "125x125", class: "profile-image img-fluid rounded-circle mb-3" %>
          <% end %>
          <% if current_user && !current_user.guest? && @user.id == current_user.id %>
            <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-dark" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body bg-light p3">
          <h4 class="card-title">いいねしたコメント一覧</h4>
          <% @user.favorites.each do |favorite| %>
            <div class="media mb-3">
              <div class="media-body">
                <h5 class="mt-0">スレッド名: <%= link_to favorite.comment.content, post_path(favorite.comment.post) %></h5>
                <p><%= favorite.comment.content %></p>
                <small><%= favorite.comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card bg-light p3">
        <div class="card-body">
          <h4 class="card-title">コメントした投稿一覧</h4>
          <% @user.comments.each do |comment| %>
            <div class="media mb-3 bg-light p3">
              <div class="media-body">
                <h5 class="mt-0">スレッド名: <%= link_to comment.post.title, post_path(comment.post) %></h5>
                <p>コメント内容: <%= comment.content %></p>
                <small><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>