<%= render "layouts/user_header" %>

<div>
  <h3><%= @user.handle %></h3>
<% if @user.image.attached? %>
  <%= image_tag @user.image, size: "125x125" %>
<% else %>
  <%= image_tag 'sennin', size: "125x125" %>
<% end %>
<% if current_user && !current_user.guest? && @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-dark" %></p>
  <% end %>
</div>
<li><%= link_to liked_comments_user_path(current_user), data: { "turbolinks" => false } do %><i class="fas fa-thumbs-up"></i>いいねしたコメント<% end %></li>
