<%= render "layouts/user_header" %>

<div>
  <h3><%= @user.handle %></h3>
<% if @user.image.attached? %>
  <%= image_tag @user.image, size: "125x125" %>
<% else %>
  <%= image_tag 'sennin', size: "125x125" %>
<% end %>
<% if current_user && !current_user.guest? && @user.id == current_user.id %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-dark" %></p>
  <% end %>
</div>

<% @post.each do |post| %>
  <div>
    <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image %>
    <% end %>
    <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100,100) %></p>
    <p>フォーム名：<%= post.title %></p>
    <p>ユーザーネーム：<%= post.user.handle %></p>
    <td>コメント数: <%= post.comments.count %></td>
  </div>
<% end %>