<%= render "layouts/user_header" %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h3><%= @user.handle %></h3>
          <% if @user.image.attached? %>
            <%= image_tag @user.image, size: "125x125", class: "profile-image img-fluid rounded-circle mb-3" %>
          <% else %>
            <%= image_tag 'sennin', size: "125x125", class: "profile-image img-fluid rounded-circle mb-3" %>
          <% end %>
          <% if current_user && !current_user.guest? && @user.id == current_user.id %>
            <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "btn btn-outline-dark" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>