<header>
  <div class="p-1 border-bottom border-secondary">
    <nav class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <% link_to admin_path do %>
            <%= image_tag("typing_sennin", alt: "LOGO", size: "100x50") %>
          <% end %>
        </div>
        <div class="col-auto">
          <form class="d-flex align-items-center" action="<%= search_path %>" method="get">
            <%= text_field_tag :word, nil, class: "form-control mr-2", placeholder: "検索" %>
            <%= select_tag :range, options_for_select([['コメント'], ['タイトル']]), class: "form-control mr-2" %>
            <%= select_tag :search, options_for_select([["完全一致", "perfect_match"], ["前方一致", "forward_match"], ["後方一致", "backward_match"], ["部分一致", "partial_match"]]), class: "form-control mr-2" %>
            <%= submit_tag "検索", class: "btn btn-primary" %>
          </form>
        </div>
        <div class="col-auto">
          <ul class="list-inline">
            <% if admin_signed_in? %>
              <li class="list-inline-item">
                <%= link_to "ユーザー一覧", admin_users_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="list-inline-item">
                <%= link_to "スレッド一覧", admin_posts_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="list-inline-item">
                <%= link_to "ログアウト", destroy_admin_session_path, class: "btn btn-outline-dark", data: { turbo_method: :delete } %>
              </li>
            <% else %>
              <li class="list-inline-item">
                <%= link_to "Q&A / お問い合わせ", contact_path, class: "btn btn-outline-dark" %>
              </li>
              <li class="list-inline-item">
                <%= link_to "ログイン", new_admin_session_path, class: "btn btn-outline-dark" %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>