<header>
  <div class="p-1 border-bottom border-secondary">
    <nav>
      <div class="container">
        <div class="row">
          <div class="col">
            <%= link_to "LOGO", root_path, class: "btn btn-outline-dark btn-lg" %>
          </div>
          <div class="col">
            <div class="d-flex flex-row-reverse bd-highlight">
              <ul class="nav pull-right nav-pills">
                <div class="search_form">
                  <%= form_with url: search_path, local: true, method: :get do |f| %>
                    <%= f.text_field :word %>
                    <%= f.select :range, options_for_select([['コメント'], ['タイトル']]) %>
                    <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                    <%= f.submit "検索", class: "btn btn-primary" %>
                  <% end %>
                </div>
                <% if !user_signed_in? && !current_user&.guest? %>
                  <li>
                    <%= link_to "ゲストログイン", users_guest_sign_in_path, class: "btn btn-outline-dark", method: :post %>
                  </li>
                <% end %>
                  <li>
                    <%= link_to "タイピング", typing_path, class: "btn btn-outline-dark" %>
                  </li>
                  <li>
                    <%= link_to "お喋り広場", posts_path, class: "btn btn-outline-dark" %>
                  </li>
                  <li>
                    <%= link_to "Q&A / お問い合わせ", contact_path, class: "btn btn-outline-dark" %>
                  </li>
                <% if user_signed_in? %>
                  <li>
                    <%= link_to "プロフィール", user_path(current_user), class: "btn btn-outline-dark" %>
                  </li>
                  <li>
                    <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-outline-dark", data: { turbo_method: :delete } %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-dark" %>
                  </li>
                  <li>
                    <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-dark" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>